<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="test.js"></script>
        <link rel="stylesheet" type="text/css" href="test.css">
    </head>
    <body class="back">
    <!--Верхнее меню с выбором отображения страницы-->
        <div>
            <table cellspacing="0" cellpadding="10" rules="rows"
                       border="1" width="100%">
                <tr>
                    <th><button><a href ng-click="contentSwitch = 'content1'">Article 1</a></button></th>
                    <th><button><a href ng-click="contentSwitch = 'content2'">Article 2</a></button></th>
                    <th><button><a href ng-click="contentSwitch = 'content3'">Article 3</a></button></th>
                    <th><button><a href ng-click="contentSwitch = 'content4'">Article 4</a></button></th>
                    <th><button><a href ng-click="contentSwitch = 'content5'">Article 5</a></button></th>
                </tr>
            </table>
        </div>
        <hr>
        <div>
        <!--Первая страница с перечнем товара-->
            <article ng-if="contentSwitch == 'content1'">
                <table class="tabl" cellspacing="0" cellpadding="10" rules="rows"
                       border="1" width="100%">
                    <tr>
                <td class="pol">Screwdriver</td>
                <td class="pol">Diamond coated tips reduce slippage and aids in removing stripped screws.  Easy to read laser marked shanks allow you to easily find which size you need.  Dual material, ergonomic handles provide comfortable grip and torque for users.</td>
                <td class="pol"> <a href><img class="fot" src="img/1-1.jpeg"></a></td>
            </tr>
            <tr>
                <td class="pol">A hammer</td>
                <td class="pol">The patented head and reinforced claws decrease shock and make prying an easier task. You'll enjoy the extra leverage provided by the side nail puller, as well as the flexibility of the nail starter, which holds standard and duplex nails. This hammer is a solid choice for construction professionals.</td>
                <td class="pol"> <a href><img class="fot" src="img/1-2.jpeg"></a></td>
            </tr>
            <tr>
                <td class="pol">Saw</td>
                <td class="pol">Rugged, solid saw for straight cuts and an ergonomic design for comfortable 2-hand operation. Quick, easy blade change and tension adjustment. Blade is centered in the frame for correct balance.</td>
                <td class="pol"> <a href><img class="fot" src="img/1-3.jpg"></a></td>
            </tr>
            <tr>
                <td class="pol"> Tipa next</td>
                <td class="pol"> lksdjf;kasjd;flkja;sldfkj;awfj;lakjf;lajeijr;kljf;lkja;fie</td>
                <td class="pol"> <a href><img src="1"></a></td>
            </tr>
            <tr>
                <td class="pol"> Tipa next</td>
                <td class="pol"> lksdjf;kasjd;flkja;sldfkj;awfj;lakjf;lajeijr;kljf;lkja;fie</td>
                <td class="pol"> <a href><img src="1"></a></td>
            </tr>
                </table>
            </article>
            <!--Вторая страница с перечнем товара-->
            <article ng-if="contentSwitch == 'content2'">
                <table cellspacing="0" cellpadding="10" rules="rows"
                       border="1" width="100%">
                    <tr><td>Name 12<button>
                        <details>
                            <summary>In detail</summary>
                            <p>Detal</p>
                        </details></button></td></tr>
                    <tr><td>Name 2<button>
                        <details>
                            <summary>In detail</summary>
                            <p>Detal</p>
                        </details></button></td></tr>
                    <tr><td>Name 3<button><details>
                            <summary>In detail</summary>
                            <p>Detal</p>
                        </details></button></td></tr>
                    <tr><td>Name 4<button><details>
                            <summary>In detail</summary>
                            <p>Detal</p>
                        </details></button></td></tr>
                    <tr><td>Name 5<button><details>
                            <summary>In detail</summary>
                            <p>Detal</p>
                        </details></button></td></tr>
                </table>
            </article>
        </div>
    </body>
</html>