.con1 {
	background: white; 
    border: 3px solid black;
    padding: 10px;
    margin-left: 20px;
    width: 40%;
}

 /**
 *Задний фон
 */
.back {
	background: url(img/back.jpg) no-repeat;
	background-size: 100%;
}

.name1 {
    float: left; /* Обтекание по правому краю */
    border: 1px solid black; /* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin: 5px 10px 5px 10px; /* Отступ справа */
    width: 5%; /* Ширина блока */
}

.tabl {
	width: 100%; /* Ширина таблицы */
}

.pol {
	padding: 5px; /* Поля в ячейках */
    vertical-align: center; /* Выравнивание по верхнему краю ячеек */
}
 /**
 *Параметры кнопки продукта
 */
.but1 {
	margin: 25px 10px 25px 855px;
}

 /**
 *Параметры фотографии
 */
.fot {
 border: 3px solid brown; 
 margin: 10px;
 }