.con1 {
	background: white; 
    border: 3px solid black;
    padding: 10px;
    margin-left: 20px;
    width: 40%;
}

.but1 {
	margin: 25px 10px 25px 855px;
}

.fot {
 border: 3px solid brown; 
 margin: 20px;
 }